body {
	font-family: Roboto;
	font-style: normal;
}
.confInfo {
	text-align: center;
	width: 80%;
	margin: 30px auto 34px;
}
.topConfBlock a {
	float: right;
	vertical-align: middle;
}
.navigation li:nth-child(3) {
	background-color: #EA4101;
}

.nameConf {
	display: inline-block;
	margin: 0 auto;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	/*color: #3F4F98;*/
	color: #EA4101;
	text-align: center;
}
.topConfBlock img {
	margin: 0 5px;
}
#changeInfo {
	vertical-align: middle;
	display: inline-block;
	float: right;
}
.shortDesc {
	text-align: left;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;

}
.description {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	text-align: left;
}
.time {
	vertical-align: middle;
	display: inline-block;
	width: 33%;
}
.organization {
	vertical-align: middle;
	display: inline-block;
	width: 33%;
}
.address {
	vertical-align: middle;
	display: inline-block;
	width: 33%;
}
.organization img {
	width: 100px;
}
.time img {
	width: 100%;
	height: auto;
}
.address h4, .organization h4, .time h4
{

	font-weight: 400;

}
#showUsers {
	margin: 0 auto;
	display: block;
	cursor: pointer;
	width: 360px;
	height: 66px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	background-color: #3F4F98;
	border: none;
	border-radius: 6px;
	color: white;
}

.confInfo .inner {
	margin-bottom: 30px;
	padding: 30px 50px;
	margin-top: 20px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.confInfo  .inner:hover {
	box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
	-o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08);
}

.background-light {
	background-color: #ffffff;
}

@media (max-width: 935px) and (min-width: 600px) {
	.navigation li:nth-child(n) a {
		padding: 15px 6px 14px 6px;
	}

	.navigation li a {
		font-size: 15px;
	}
}
